{% extends "layouts/base.html" %}

{% block title %}Live Stream{% endblock %}

{% block head %}
<style>
    #video {
        width: 100%;
        height: auto;
        max-height: 80vh;
        display: block;
    }
</style>
{% endblock %}

{% block content %}
<div class="video-container">
    <video id="video" controls autoplay></video>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
    const videoSource = 'http://134.122.67.47:8081/hls/stream.m3u8';

    if (Hls.isSupported()) {
        var video = document.getElementById('video');
        var hls = new Hls();
        hls.loadSource(videoSource);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED,function() {
            video.play();
        });
    } else if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSource;
        video.addEventListener('loadedmetadata',function() {
            video.play();
        });
    } else {
        alert('Your browser does not support HLS streaming.');
    }
</script>
{% endblock %}
